<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DOCUSHARE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <div class="logo">
                        <img src="~/images/logo.png" alt="logo">
                        <h1>DOCUSHARE</h1>
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mainNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="~/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="About">About Us</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Document" asp-action="Create">Upload</a></li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Document" asp-action="MyDocuments">View Documents</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Friend" asp-action="Index">Friend</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="FriendRequest" asp-action="Index">Friend Requests</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Notification" asp-action="Index">Notification</a></li>
                        <li class="nav-item">
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="container">
        @RenderBody()
    </main>
  
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>