@{
    ViewData["Title"] = "About Us";
}

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    body {
        background: linear-gradient(136deg, #5b874b 0%, #3e6e42 50%, #0c3720 100%);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .container {
        max-width: 1300px;
        margin: auto;
        flex: 1;
    }

    h1 {
        text-align: center;
        padding-top: 20px;
        color: #fff;
        font-size: 50px;
    }

    p {
        text-align: center;
        color: #fff;
        font-size: 16px;
        margin-top: 20px;
    }

    .sec-about-us {
        display: flex;
        justify-content: center;
        align-items: stretch;
        gap: 30px;
        margin-top: 40px;
        flex-wrap: wrap;
    }

        .sec-about-us img {
            width: 45%;
            object-fit: cover;
            border-radius: 20px;
            animation: fadeZoom 1s ease forwards;
            opacity: 0;
        }

    img {
        display: block;
        max-width: 100%;
        height: auto;
        border-radius: 20px;
    }
    @@keyframes fadeZoom {
        0%

    {
        opacity: 0;
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }

    }


</style>



    <div class="container">
        <h1>About Us</h1>
        <p>
            DocuShare is a secure platform for uploading, managing, and sharing documents publicly,
            privately, or with friends, featuring real-time notifications ensuring a perfect saving of documents.
            The objective of DocuShare is to provide a secure, efficient, and user-friendly platform that allows
            users to upload, manage, and share documents publicly, privately, or with selected friends.
        </p>

        <div class="sec-about-us">
            <img src="~/images/About us.avif.jpg" alt="Illustration representing document sharing" />
            <img src="~/images/banner-img.png" alt="img" />
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
