@{
    ViewData["Title"] = "About Us";
}

<body>

    <div class="container">
        <section class="sec-banner">
            <div class="content-wrapper">
                <h1>Welcome to <br>DOCUSHARE</h1>
                <p>
                    DocuShare is a secure platform for uploading, managing, and sharing documents publicly,
                    privately,
                    or with friends, featuring real-time notifications ensuring a perfect saving of documents. The
                    objective of DocuShare is to provide a secure, efficient, and user-friendly platform that allows
                    users to upload, manage, and share documents publicly, privately, or with selected friends.
                </p>
            </div>

            <div class="img-wrapper">
                <img src="../images/banner-img.png" alt="banner-img">
            </div>
        </section>
    </div>


    <footer>
        <div class="footer-left">
            <div class="logo-wrapper">
                <img src="../images/logo.png" alt="logo">
            </div>
        </div>

        <div class="contact-us">
            <h2>Contact Us</h2>
             <p>
                 Email:
             </p>
            <p>
                waqasmehmood00203@gmail.com
            </p>
            <p>
                2304.a.rehman@gmail.com
            </p>
            <p>
                nomanyousaf712@gmail.com
            </p>            
    </footer>

    <div class="footer-bottom">
        <p>© All rights reserved to DOCUSHARE</p>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
